{
  "env": {
      "browser": true,
      "es6": true,
      "node": true
  },
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
  ],
  "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 2018,
      "sourceType": "module"
  },
  "plugins": [
      "react"
  ],
  "rules": {
      "arrow-body-style": "off",
      "wrap-iife": "off",
      "comma-dangle": "off",
      "no-plusplus": "off",
      "indent": "off",
      "strict": "off",
      "no-undef": "off",
      "no-console": "warn",
      "semi": ["error", "never"],
      "quotes": "off",
      "curly": "off",
      "nonblock-statement-body-position": "off",
      "no-useless-constructor": "error",
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "settings": {
      "react": {
        "createClass": "createReactClass",
        "pragma": "React",
        "version": "16.4.1",
        "flowVersion": "0.53"
      },
      "propWrapperFunctions": [
          "forbidExtraProps",
          {"property": "freeze", "object": "Object"},
          {"property": "myFavoriteWrapper"}
      ],
      "linkComponents": [
        "Hyperlink",
        {"name": "Link", "linkAttribute": "to"}
      ]
  }
}
